<!-- Meta Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '698271882144894');
fbq('track', 'PageView');

fbq('track', 'Purchase', {value: 0.00, currency: 'USD'});
  
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=698271882144894&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HJF50NHK0H"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HJF50NHK0H');
</script>

<!-- Hotjar Tracking Code for https://myswellness.com/ -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:3690639,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

<!doctype html>
{% capture rtl_codes %},ar,arc,ckb,dv,fa,ha,he,khw,ks,ps,sd,ur,uz_AF,yi,{% endcapture %}
{% assign is_code_separator = request.locale.iso_code | append: ',' | prepend: ',' %}
{% assign is_rtl = null %}
{% if rtl_codes contains is_code_separator %}
  {% assign is_rtl = true %}
{% endif %}
<html
  class="no-js"
  lang="{{ request.locale.iso_code }}"
  {% if is_rtl %}
    dir="rtl"
  {% endif %}
>
  {%- assign title_override = false -%}
  {%- assign default_description = false -%}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
    <meta name="theme-color" content="{{ settings.color_secondary }}">
    {%- if canonical_url != blank -%}
      <link rel="canonical" href="{{ canonical_url }}">
    {%- endif -%}

    <!-- ======================= Pipeline Theme V7.0.2 ========================= -->

    <!-- Preloading ================================================================== -->

    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <link rel="dns-prefetch" href="https://cdn.shopify.com">
    <link rel="preconnect" href="https://fonts.shopify.com" crossorigin>
    <link rel="dns-prefetch" href="https://fonts.shopifycdn.com">
    <link rel="preconnect" href="https://monorail-edge.shopifysvc.com" crossorigin>

    <link rel="preload" href="{{ settings.font_body_family | font_url }}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{ settings.font_heading_family | font_url }}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{ settings.font_accent_family | font_url }}" as="font" type="font/woff2" crossorigin>

    {{ 'vendor.js' | asset_url | preload_tag: as: 'script' }}
    {{ 'theme.js' | asset_url | preload_tag: as: 'script' }}
    {{ 'theme.css' | asset_url | preload_tag: as: 'script' }}

    <!-- Title and description ================================================ -->
    {%- if settings.favicon != blank -%}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {%- else -%}
      <link rel="shortcut icon" href="data:;base64,iVBORw0KGgo=">
    {%- endif -%}

    {% capture seo_title %}
    {%- assign title_content = page_title -%}
    {% if title_override %}
      {%- assign title_content = title_override -%}
    {% endif %}
    {{ title_content }}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign title_downcase = title_content | downcase | strip -%}
    {%- assign name_downcase = shop.name | downcase | strip -%}
    {%- unless title_downcase contains name_downcase -%}
      &ndash; {{ shop.name }}
    {%- endunless -%}
  {% endcapture %}
    <title>
      {{ seo_title }}
    </title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {% elsif default_description %}
      <meta name="description" content="{{ default_description | escape }}">
    {%- endif -%}

    {%- render 'social-meta-tags' -%}

    <!-- CSS ================================================================== -->

    {{ 'font-settings.css' | asset_url | stylesheet_tag: preload: true }}

    {% render 'css-variables' %}

    {{ 'theme.css' | asset_url | stylesheet_tag: preload: true }}

    <script>
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
        
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    {% if settings.animations_scroll_enable %}
      document.documentElement.classList.add('aos-initialized');
    {%- endif -%}
    let root = '{{ routes.root_url }}';
    if (root[root.length - 1] !== '/') {
      root = `${root}/`;
    }
    var theme = {
      routes: {
        root_url: root,
        cart: '{{ routes.cart_url }}',
        cart_add_url: '{{ routes.cart_add_url }}',
        product_recommendations_url: '{{ routes.product_recommendations_url }}',
        account_addresses_url: '{{ routes.account_addresses_url }}',
        predictive_search_url: '{{ routes.predictive_search_url }}'
      },
      state: {
        cartOpen: null,
      },
      sizes: {
        small: 480,
        medium: 768,
        large: 1100,
        widescreen: 1400
      },
      assets: {
        photoswipe: '{{ "photoswipe.js" | asset_url }}',
        smoothscroll: '{{ "smoothscroll.js" | asset_url }}',
        swatches: '{{ "swatches.json" | asset_url }}',
        noImage: '{{ "nil" | img_url: "master" }}',
        base: '{{ "nil.jpg" | asset_url | split: "nil.jpg" | first }}'
      },
      strings: {
        swatchesKey: {{ 'general.swatches.color' | t | json }},
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        estimateShipping: {{ 'cart.shipping.estimate_shipping' | t | json }},
        noShippingAvailable: {{ 'cart.shipping.no_shipping_available' | t | json }},
        free: {{ 'cart.shipping.free' | t | json }},
        from: {{ 'products.general.from' | t | json }},
        preOrder: {{ 'products.product.pre_order' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        sale: {{ 'products.product.sale' | t | json }},
        subscription: {{ 'products.product.subscription' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        unitPrice: {{ 'products.product.unit_price_label' | t | json }},
        unitPriceSeparator: {{ 'general.accessibility.unit_price_separator' | t | json }},
        stockout: {{ 'cart.general.stockout' | t | json }},
        products: {{ 'products.general.products' | t | json }},
        pages: {{ 'general.page.pages' | t | json }},
        collections: {{ 'collections.sidebar.collections' | t | json }},
        resultsFor: {{ 'general.search.results_for' | t | json }},
        noResultsFor: {{ 'general.search.no_results_for' | t | json }},
        articles: {{ 'blogs.article.articles' | t | json }},
        successMessage: {{ 'general.share.success_message' | t | json }},
      },
      settings: {
        badge_sale_type: {{ settings.badge_sale_type | json }},
        animate_hover: {{ settings.animations_hover_enable | json }},
        animate_scroll: {{ settings.animations_scroll_enable | json }},
        show_locale_desktop: {{ settings.show_locale_desktop | json }},
        show_locale_mobile: {{ settings.show_locale_mobile | json }},
        show_currency_desktop: {{ settings.show_currency_desktop | json }},
        show_currency_mobile: {{ settings.show_currency_mobile | json }},
        currency_select_type: {{ settings.currency_select_type | json }},
        currency_code_enable: {{ settings.currency_code_enable | json }},
        cycle_images_hover_delay: {{ settings.cycle_images_hover_delay }}
      },
      info: {
        name: 'pipeline'
      },
      version: '7.0.2',
      moneyFormat: {{ shop.money_format | json }},
      shopCurrency: {{ shop.currency | json }},
      currencyCode: {{ cart.currency.iso_code | json }}
    }
    let windowInnerHeight = window.innerHeight;
    document.documentElement.style.setProperty('--full-screen', `${windowInnerHeight}px`);
    document.documentElement.style.setProperty('--three-quarters', `${windowInnerHeight * 0.75}px`);
    document.documentElement.style.setProperty('--two-thirds', `${windowInnerHeight * 0.66}px`);
    document.documentElement.style.setProperty('--one-half', `${windowInnerHeight * 0.5}px`);
    document.documentElement.style.setProperty('--one-third', `${windowInnerHeight * 0.33}px`);
    document.documentElement.style.setProperty('--one-fifth', `${windowInnerHeight * 0.2}px`);

    window.isRTL = document.documentElement.getAttribute('dir') === 'rtl';






























    </script>
    {%- if request.page_type contains 'customers/' -%}
      <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
    {%- endif -%}

    <!-- Theme Javascript ============================================================== -->
    <script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>

    <script>
      (function () {
        function onPageShowEvents() {
          if ('requestIdleCallback' in window) {
            requestIdleCallback(initCartEvent, { timeout: 500 });
          } else {
            initCartEvent();
          }
          function initCartEvent() {
            window
              .fetch(window.theme.routes.cart + '.js')
              .then((response) => {
                if (!response.ok) {
                  throw { status: response.statusText };
                }
                return response.json();
              })
              .then((response) => {
                document.dispatchEvent(
                  new CustomEvent('theme:cart:change', {
                    detail: {
                      cart: response,
                    },
                    bubbles: true,
                  })
                );
                return response;
              })
              .catch((e) => {
                console.error(e);
              });
          }
        }
        window.onpageshow = onPageShowEvents;
      })();
    </script>

    <script type="text/javascript">
      if (window.MSInputMethodContext && document.documentMode) {
        var scripts = document.getElementsByTagName('script')[0];
        var polyfill = document.createElement('script');
        polyfill.defer = true;
        polyfill.src = "{{ 'ie11.js' | asset_url }}";

        scripts.parentNode.insertBefore(polyfill, scripts);
      }
    </script>

    <!-- Shopify app scripts =========================================================== -->
    {{ content_for_header }}

    {% render 'shogun-head' %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://shopoe.net/app.js"></script>
  </head>

  <body
    id="{{ page_title | handle }}"
    class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }} {{ settings.default_background }}{% if customer %} customer-logged-in{% endif %}"
  >
    <a class="in-page-link visually-hidden skip-link" href="#MainContent">
      {{- 'general.accessibility.skip_to_content' | t -}}
    </a>

    {% sections 'group-header' %}
    {% sections 'group-overlay' %}

    <main class="main-content" id="MainContent">
      {{ content_for_layout }}
    </main>

    {% sections 'group-footer' %}

    <div class="search--popdown">
      {% render 'search-predictive', version: 'search-popdown' %}
    </div>

    {% render 'template-swatch' %}

    <div data-modal-container></div>

    {%- comment -%}
      In order to use your custom javascript file at assets/custom.js
      just cut and paste this next line outside this comment.
      <script src="{{ 'custom.js' | asset_url }}" defer="defer"></script>
    {%- endcomment -%}

    <!-- Paste popup code or third party scripts below this comment line ============== -->

    <!-- And above this comment line ================================================== -->
    <style>
@media (min-width: 767px ) {
.banner .banner__media:first-child {
    display: block;
}
  .card .card__inner .card__media {
    width: 100%;
}
}
</style>
  </body>
</html>
{% if template == 'index' %}
  <style>
    .wrapper.section-padding {
      max-width: 1200px;
    }
    .section-list-collections.list__collections.palette--light.bg--accent {
      margin: 0 0vw 3vw;
    }
    .category-carousel-wrapper::-webkit-scrollbar {
      width: 6px;
      background-color: #f5f5f5;
    }

    .category-carousel-wrapper::-webkit-scrollbar-thumb {
      background-color: #9bae88;
      background-clip: content-box !important;
      border: 0px solid transparent !important;
      border-radius: 10px !important;
    }

    .category-carousel-wrapper::-webkit-scrollbar-thumb:hover {
      background-color: #00cc00;
    }
  </style>
{% endif %}
<style>
  .wrapper.section-padding {
    max-width: 1300px;
  }
</style>
<script>
  const carouselWrapper = document.querySelector('.category-carousel-wrapper');
  const carouselContent = carouselWrapper.innerHTML;
  carouselWrapper.innerHTML = `<div class="category-carousel-content">${carouselContent}</div>`;
</script>
<script>
  // Espera a que el contenido de la página se cargue completamente
  document.addEventListener('DOMContentLoaded', function () {
    // Selecciona el elemento que deseas mover
    var elementToMove = document.querySelector('.product-grid-item.section--image.text--neutral');

    // Obtén el padre del elemento que deseas mover
    var parentElement = elementToMove.parentNode;

    // Mueve el elemento al principio del padre
    parentElement.prepend(elementToMove);
  });
</script>
{% if page.template_suffix != 'index' %}
  <style>
    .wrapper--full .cls-1 {
      stroke: currentColor;
    }
  </style>
{% endif %}
{% if template == 'index' %}
  <style>
    /* Estilos para dispositivos móviles (ancho máximo de 600px) */
    @media only screen and (max-width: 600px) {
      .header__inner {
        background: #f4f4f2; /* Color inicial para dispositivos móviles */
      }
      .header__inner.scroll-down {
        background: #f4f4f2; /* Color deseado para dispositivos móviles al hacer scroll */
      }
    }
  </style>
  <script>
    // Verificar si el dispositivo es móvil (ancho máximo de 600px)
    const isMobile = window.matchMedia('(max-width: 600px)').matches;

    // Seleccionar el elemento del encabezado
    const header = document.querySelector('.header__inner');

    // Función para cambiar el color del encabezado al hacer scroll
    function changeHeaderColorOnScroll() {
      if (isMobile && window.scrollY >= 10) {
        header.classList.add('scroll-down');
      } else {
        header.classList.remove('scroll-down');
      }
    }

    // Escuchar el evento de scroll y llamar a la función para cambiar el color del encabezado en móviles
    window.addEventListener('scroll', changeHeaderColorOnScroll);
  </script>
{% endif %}
{% if template != 'index' %}
  <style>
    @media only screen and (max-width: 600px) {
      .header__inner {
        background: unset;
      }
    }
  </style>
{% endif %}
<style>
  /* Estilos para dispositivos móviles (ancho máximo de 600px) */
  /*
  @media only screen and (max-width: 600px) {
  .drawer__content {
  margin-top: 10.5vh !important; /* Valor inicial para dispositivos móviles */
  }
  /*
  .scroll-down .drawer__content {
  margin-top: 16vw !important; /* Valor deseado para dispositivos móviles al hacer scroll */
  }
  }
</style>
<script>
  // Verificar si el dispositivo es móvil (ancho máximo de 600px)
  const isMobile = window.matchMedia('(max-width: 600px)').matches;

  // Seleccionar el elemento .drawer__content
  const drawerContent = document.querySelector('.drawer__content');

  // Función para cambiar el valor de margin-top al hacer scroll
  function changeMarginTopOnScroll() {
    if (isMobile && window.scrollY >= 10) {
      drawerContent.classList.add('scroll-down');
    } else {
      drawerContent.classList.remove('scroll-down');
    }
  }
  // Escuchar el evento de scroll y llamar a la función para cambiar el valor de margin-top en móviles
  window.addEventListener('scroll', changeMarginTopOnScroll);
</script>
<style>
  ::-webkit-scrollbar-thumb {
    background: #f4f4f2 !important;
    background-clip: content-box !important;
    border: 0px solid transparent !important;
    border-radius: 10px !important;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #9bae88 !important;
    border-radius: 15px !important;
    width: 2px !important;
    height: 2px !important;
  }
  ::-webkit-scrollbar {
    width: 4px !important;
    height: 2px !important;
    border-left: none !important;
    background-color: #f4f4f2 !important;
    border-top: none !important;
  }
  /*revie*/
  #leftRevie,
  #rightRevie {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: none;
    background: var(--hairline);
    color: var(--text);
    transform: translateY(-50%);
    transition: all 0.3s;
    box-shadow: none;
    opacity: 1;
  }
  .carouselPre li.links:hover,
  .carouselPre li.links {
    box-shadow: none;
  }
  h2.topT {
    font-family: var(--FONT-STACK-BODY);
    font-style: var(--FONT-STYLE-BODY);
    font-weight: var(--FONT-WEIGHT-BODY);
    letter-spacing: 3px !important;
    font-size: 2em !important;
    text-transform: uppercase;
    text-align: center;
  }
  .topT {
    border-top: none !important;
  }
</style>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const slideContainer = document.querySelector('.testimonial-slide');
    const dotsContainer = document.createElement('div');
    dotsContainer.classList.add('dots-container');

    let dotIndex = 0;
    const blocks = document.querySelectorAll('.blockquote');

    blocks.forEach((block, index) => {
      const dot = document.createElement('span');
      dot.classList.add('dot');
      dot.setAttribute('data-index', index);
      dot.addEventListener('click', function () {
        dotIndex = index;
        updateSlide();
      });
      dotsContainer.appendChild(dot);
    });

    function updateSlide() {
      const slideWidth = slideContainer.clientWidth;
      slideContainer.style.transform = `translateX(-${slideWidth * dotIndex}px)`;

      const dots = document.querySelectorAll('.dot');
      dots.forEach((dot, index) => {
        if (index === dotIndex) {
          dot.classList.add('active');
        } else {
          dot.classList.remove('active');
        }
      });
    }

    updateSlide();
    slideContainer.after(dotsContainer);
  });
</script>
{% comment %}
  <script>
    $(document).ready(function() {
      // Función para calcular y ajustar el margen superior del drawer
      function adjustDrawerMargin() {
        var headerHeight = $('.header__inner').outerHeight();
        var announcementBarHeight = $('.announcement__bar-outer').outerHeight();
        var totalHeight = headerHeight + announcementBarHeight;

        // Ajustar el margen superior del drawer solo si el ancho de la pantalla es menor o igual a 767 píxeles (puedes ajustar este valor según tus necesidades)
        if (window.innerWidth <= 767) {
          var scrollY = $(window).scrollTop();
          var isHeaderScrollDown = $('.header__inner').hasClass('scroll-down');

          // Si el header tiene la clase "scroll-down", ajustamos el margen a la altura del header
          if (isHeaderScrollDown) {
            $('.drawer__content').css('margin-top', headerHeight + 'px');
          } else {
            // Si el header no tiene la clase "scroll-down", ajustamos el margen al totalHeight
            var adjustedMarginTop = Math.max(totalHeight - scrollY, 0);
            $('.drawer__content').css('margin-top', adjustedMarginTop + 'px');
          }
        }
      }

      // Llamamos a la función para que se ajuste al cargar la página
      adjustDrawerMargin();

      // Llamamos a la función cuando cambia el tamaño de la ventana (por si se rota el dispositivo)
      $(window).resize(function() {
        adjustDrawerMargin();
      });

      // Llamamos a la función cuando ocurre un evento de scroll
      $(window).scroll(function() {
        adjustDrawerMargin();
      });
    });
  </script>
{% endcomment %}
{% if template contains 'product' %}
  {% assign product_image_count = product.images.size %}
  {% if product_image_count > 1 %}
    <style>
      @media only screen and (min-width: 600px) {
        .product__media:first-child {
          display: ;
        }
      }
    </style>
  {% endif %}
{% endif %}
{% if template contains 'product' %}
  {% assign product_image_count = product.images.size %}
  {% if product_image_count > 1 %}
    <style>
      @media only screen and (max-width: 600px) {
        first-child {
          display: ;
        }
      }
      .hide {
        display: block !important;
      }
      .tabs.tabs--center.tabs--pill {
        display: flex;
        justify-content: center;
        align-content: center;
        margin-bottom: 20px;
      }
    </style>
  {% endif %}
{% endif %}
