<section class="testimonial-container">
  <h2 class="kicker-flourished mb-7">{{ section.settings.title }}</h2>

  <div class="testimonial-slide">
    {%- if section.blocks.size > 0 -%}
      {%- for block in section.blocks -%}
        <div class="blockquote">
          {%- if block.settings.quote != blank -%}
            <p>
              {{ block.settings.quote }}
            </p>
          {%- endif -%}

          {%- if block.settings.author != blank -%}
            <cite>
              <a href="{{ block.settings.link }}"> - {{ block.settings.author }} </a>
            </cite>
          {%- endif -%}

          {%- if block.settings.image != blank -%}
            <img style="margin-top: 4vh;" src="{{ block.settings.image  | img_url }}">
          {%- endif -%}
        </div>
      {%- endfor -%}
    {%- endif -%}
  </div>
</section>

<style>
  .testimonial-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
  }

  .testimonial-slide {
    display: flex;
    width: -webkit-fill-available;
    flex-wrap: nowrap;
    overflow-x: auto;
    background-color: #f4f4f2;
    position: relative;
  }

  .blockquote {
    flex: 0 0 100vw;
    max-width: 100%;
    margin: 0;
    padding: 20px;
    text-align: center;
    white-space: pre-line;
    overflow-wrap: break-word;
    font-size: 18px;
  }

  .blockquote p {
    margin: 0;
  }

  .blockquote cite {
    display: block;
    font-size: 16px;
    margin-top: -30px;
  }
</style>

{% schema %}
{
  "name": "Testimonials",
  "class": "index-section",
  "max_blocks": 8,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Testimonials"
    }
  ],
  "blocks": [
    {
      "type": "quote",
      "name": "Testimonial",
      "settings": [
        {
          "type": "richtext",
          "id": "quote",
          "label": "Text",
          "default": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>"
        },
        {
          "type": "text",
          "id": "author",
          "label": "Author",
          "default": "Author’s name"
        },
        {
    "type": "url",
          "id": "link",
          "label": "link"
        },
        {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
      ]
    }
  ],
  "presets": [
    {
      "name": "Testimonials",
      "category": "Text",
      "blocks": [
        {
          "type": "quote"
        },
        {
          "type": "quote"
        },
        {
          "type": "quote"
        }
      ]
    }
  ]
}
{% endschema %}
